@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Font style starts here */
.work-sans-font{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex{
  display: flex;
}

/* dark-1 */
.text-gray-one{
  color:#131313;
}

/* dark-2 */
.text-gray{
  color: #424242;
}

/* dark-3 */
.text-light-gray{
  color: #727272;
}
.light-yellow{
  color: #FF900E;
}

.bg-light{
  background-color: rgba(255, 144, 14, 0.1);
}

.primary-btn{
  width: 180px;
  background-color: #FF900E;
  color: white;
  padding: 20px 25px;
  Font-size : 1.2rem;
  font-weight : 600;
  border-radius: 8px;
  border: none;
}


/* header styles */


/* navbar related styles */
.navbar{
  justify-content: space-between;
  align-items: center;
}

.brand{
  font-weight: 700;
  font-size: 3rem;
}
.nav-links{

}

.nav-item{
  list-style: none;
  margin-right: 30px;
}

.nav-link{
  text-decoration: none;
  font-size: 18px;
font-weight: 500;
}

.navbar, .banner{
  max-width: 1440px;
  margin: 0 auto;
}

/* banner styles starts here */
.banner-content{
  width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner-title{
  font-weight: 700;
  font-size: 4rem;
}

.banner-description{
  font-size: 1rem;
  font-weight: 400;
}

.banner-image{
  width: 100%;
}

/* responsive media query */
@media screen and (max-width: 576px){
  .navbar, .nav-links{
    flex-direction: column;
  }

.banner-content{
  width: 500px;
}
.banner-title{
  font-size: 2rem;
}
}

/* features section style starts here */
.features-container{
  width: 90%;
  margin: 0 auto;
  margin-top: 85px;
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.features-images{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}

.features-contents{
  width: 537px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-contents h2{
  font-size : 2.8rem;
  font-weight : 700;
}

.features-content p{
  font-size: 1rem;
  font-weight: 400;
}

/* media query */
@media screen and (max-width: 576px){
  .features-container{
    flex-direction: column;
  }
  .features-images{
    grid-template-columns: repeat(1,1fr);
  }

  .features-contents{
    width: 350px;
    align-items: center;
  }
}


/* some facts section starts here */
.some-facts-container{
  max-width: 90%;
  margin: 0 auto;
  margin-top: 120px;
}

.facts-contents{
  width: 40%;
  margin-bottom: 50px;
}

.facts-icons{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.card h4{
  font-size: 2rem;
  margin: 10px;
}

.card{
  box-sizing: border-box;
  border: 1px solid rgb(255, 144, 14);
  border-radius: 8px;
  padding: 20px 30px;
}


/* media query */
@media screen and (max-width: 576px){
  .facts-icons{
    flex-direction: column;
    gap: 20px;
  }
  .facts-contents{
    width: 100%;
  }
}
/* ------------------------ */

/* sponsors section starts here */
.sponsors-container{
  width: 90%;
  margin: 0 auto;
  margin-top: 120px;
}
.sponsors-content{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.sponsors-images{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin: 0 auto;
}

.sponsors-images img{
  width: 150px;
}

/* responsive media query  */
@media screen and (max-width: 576px){
  .sponsors-content{
    width: 100%;
  }
  .sponsors-images{
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}

/* --------------------- */

/* footer section starts here */
.footers-section{
  width: 100%;
  height: 100px;
  margin: 0 auto;
  border-radius: 8px;
  background-color: rgb(255, 244, 231);
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}